* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #9a99d6;
}

.container {
    height: 300px;
    max-width: 410px;
    padding: 18px 24px;
    background-color: white;
    border-radius: 6px;
    transition: height 0.5s ease;
    box-shadow: 0px 0px 25px 5px #505286;
}

.container.active {
    height: auto;
}

.titulo h1 {
    text-align: center;
    font-weight: 600;
    font-size: 28px;
}
.titulo p {
    color: #474747;
    font-size: 16px;
    text-align: center;
    margin-top: 5px;
}

.conteudo {
    padding: 10px 10px;
}
.conteudo :where(input, button) {
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 6px;
}
.conteudo input {
    padding: 0 17px;
    font-size: 18px;
    border: 1px solid #999;
}
.conteudo button {
    color: #fff;
    background-color: rgb(122, 127, 201);
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
}
.conteudo button:hover {
    background-color: rgb(80, 82, 134);
    transition: all 0.5s ease;
}

.area-qr-code {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    pointer-events: none;
    opacity: 0;
}

.area-qr-code img {
    width: 220px;
    height: auto;
}

.container.active .area-qr-code {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.dow {
    width: 30%;
    text-decoration: none;
    font-size: 16px;
    color: white;
    background-color: rgb(112, 194, 112);
    padding: 6px 6px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
.dow:hover {
    background-color: rgb(43, 156, 43);
}

/* carrega imagem */
.custom-file-upload {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #7a7fc9;
  color: #fff;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}
.custom-file-upload:hover {
  background-color: #505286;
}

.custom-file-upload.carregado {
    background-color: green;
}